In [14]:
import pandas as pd;

# loading data
online_retail_df = pd.read_csv("online_retail.csv")

In [15]:
#inspecting data
print(online_retail_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB
None

In [16]:
print(online_retail_df.describe())

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [17]:
print(online_retail_df.isnull().sum())

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [18]:
#remove duplicates
online_retail_df.drop_duplicates(inplace=True)

In [19]:
#drop rows without Customer ID s( Customer Id is essential for customer level analysis threfore dropping rows without customer id)
print(f"before: {online_retail_df.shape}")
online_retail_df.dropna(subset=["Customer ID"],inplace=True)
print(f"after: {online_retail_df.shape}")

before: (1033036, 8)
after: (797885, 8)

In [20]:
#Removing Cancelled orders
print(f"before : {online_retail_df.shape}")
online_retail_df = online_retail_df[~online_retail_df["Invoice"].astype(str).str.startswith("C")]
print(f"after : {online_retail_df.shape}")

before : (797885, 8)
after : (779495, 8)

In [21]:
#checking zero price rows
zero_price_df = online_retail_df[online_retail_df['Price'] == 0.0]

#Checking what and how many products are zero price
print(f"Number of zero price rows: {zero_price_df.shape[0]}")
print(zero_price_df["Description"].value_counts().head(30))

Number of zero price rows: 70
Description
Manual                               7
CHRISTMAS PUDDING TRINKET POT        2
This is a test product.              2
REGENCY CAKESTAND 3 TIER             2
DOOR MAT FAIRY CAKE                  1
CHRISTMAS CRAFT WHITE FAIRY          1
ANTIQUE LILY FAIRY LIGHTS            1
 FLAMINGO LIGHTS                     1
ANTIQUE GLASS HEART DECORATION       1
CHARLOTTE BAG , SUKI DESIGN          1
RETRO SPOT LARGE MILK JUG            1
VINTAGE GLASS COFFEE CADDY           1
6 RIBBONS EMPIRE                     1
CAST IRON HOOK GARDEN TROWEL         1
CAST IRON HOOK GARDEN FORK           1
HANGING METAL BIRD BATH              1
AIRLINE BAG VINTAGE JET SET WHITE    1
SET/5 RED SPOTTY LID GLASS BOWLS     1
DOORMAT HOME SWEET HOME BLUE         1
TV DINNER TRAY DOLLY GIRL            1
MILK PAN PINK RETROSPOT              1
POLYESTER FILLER PAD 45x45cm         1
CAKE STAND LACE WHITE                1
DOLLY GIRL LUNCH BOX                 1
NOEL WOODEN BLOCK LETTERS            1
RED RETROSPOT CAKE STAND             1
IVORY KITCHEN SCALES                 1
BREAD BIN DINER STYLE RED            1
VINTAGE CREAM CAT FOOD CONTAINER     1
ROUND CAKE TIN VINTAGE GREEN         1
Name: count, dtype: int64

In [22]:
#identifying test entries
test_entries = ["Manual", "This is a test product."]
zero_price_tests = zero_price_df[zero_price_df["Description"].isin(test_entries)]
print(f"Number of test entries: {zero_price_tests.shape[0]}")
print(zero_price_tests)

Number of test entries: 9
        Invoice StockCode              Description  Quantity  \
16107    490727         M                   Manual         1
89084    497819   TEST001  This is a test product.         5
89180    497843   TEST001  This is a test product.         5
811118   561916         M                   Manual         1
887286   568384         M                   Manual         1
920990   571035         M                   Manual         1
962422   574252         M                   Manual         1
1005014  577168         M                   Manual         1
1011446  577696         M                   Manual         1

                 InvoiceDate  Price  Customer ID         Country
16107    2009-12-07 16:38:00    0.0      17231.0  United Kingdom
89084    2010-02-12 14:58:00    0.0      14103.0  United Kingdom
89180    2010-02-12 15:47:00    0.0      14827.0  United Kingdom
811118   2011-08-01 11:44:00    0.0      15581.0  United Kingdom
887286   2011-09-27 09:46:00    0.0      12748.0  United Kingdom
920990   2011-10-13 12:50:00    0.0      12446.0             RSA
962422   2011-11-03 13:24:00    0.0      12437.0          France
1005014  2011-11-18 10:42:00    0.0      12603.0         Germany
1011446  2011-11-21 11:57:00    0.0      16406.0  United Kingdom

In [23]:
#removing test enties from online_retail_df
print(f"Number of rows before removing test entries: {online_retail_df.shape[0]}")
online_retail_df = online_retail_df[~((online_retail_df['Price'] == 0.0) & (online_retail_df['Description'].isin(test_entries)))]
print(f"Number of rows after removing test entries: {online_retail_df.shape[0]}")

Number of rows before removing test entries: 779495
Number of rows after removing test entries: 779486

In [24]:
#Extracting Promotional data from main dataframe
promotional_df = online_retail_df[online_retail_df['Price'] == 0.0]
print(f"Number of promotional rows: {promotional_df.shape[0]}")
print(promotional_df["Description"].value_counts().head(30))

Number of promotional rows: 61
Description
CHRISTMAS PUDDING TRINKET POT        2
REGENCY CAKESTAND 3 TIER             2
6 RIBBONS EMPIRE                     1
CHRISTMAS CRAFT WHITE FAIRY          1
ANTIQUE LILY FAIRY LIGHTS            1
ANTIQUE GLASS HEART DECORATION       1
 FLAMINGO LIGHTS                     1
CHARLOTTE BAG , SUKI DESIGN          1
RETRO SPOT LARGE MILK JUG            1
VINTAGE GLASS COFFEE CADDY           1
DOOR MAT FAIRY CAKE                  1
CAST IRON HOOK GARDEN TROWEL         1
CAST IRON HOOK GARDEN FORK           1
HANGING METAL BIRD BATH              1
AIRLINE BAG VINTAGE JET SET WHITE    1
SET/5 RED SPOTTY LID GLASS BOWLS     1
DOORMAT HOME SWEET HOME BLUE         1
TV DINNER TRAY DOLLY GIRL            1
MILK PAN PINK RETROSPOT              1
POLYESTER FILLER PAD 45x45cm         1
CAKE STAND LACE WHITE                1
DOLLY GIRL LUNCH BOX                 1
NOEL WOODEN BLOCK LETTERS            1
RED RETROSPOT CAKE STAND             1
IVORY KITCHEN SCALES                 1
BREAD BIN DINER STYLE RED            1
VINTAGE CREAM CAT FOOD CONTAINER     1
ROUND CAKE TIN VINTAGE GREEN         1
ADVENT CALENDAR GINGHAM SACK         1
PAPER BUNTING RETROSPOT              1
Name: count, dtype: int64

In [26]:
#Removing all remaining zero price rows
print(f"Number of rows before removing zero price rows: {online_retail_df.shape[0]}")
online_retail_df = online_retail_df[online_retail_df['Price'] > 0.0]
print(f"Number of rows after removing zero price rows: {online_retail_df.shape[0]}")

Number of rows before removing zero price rows: 779425
Number of rows after removing zero price rows: 779425

In [27]:
#Checking stock codes of remaining rows
print(online_retail_df['StockCode'].value_counts().head(30))

StockCode
85123A    5023
22423     3335
85099B    3296
84879     2692
20725     2609
21212     2557
47566     2098
20727     2045
22383     2039
21034     1950
22382     1935
21232     1935
22384     1874
21754     1852
22139     1848
22469     1821
20914     1821
20728     1820
84991     1813
POST      1803
22197     1794
82494L    1790
22386     1787
22470     1783
22138     1753
22086     1737
21931     1728
21080     1696
22411     1691
82482     1672
Name: count, dtype: int64

In [28]:
#Removing rows with stock code 'POST'
print(f"Number of rows before removing POST stock code: {online_retail_df.shape[0]}")
online_retail_df = online_retail_df[online_retail_df['StockCode'] != 'POST']
print(f"Number of rows after removing POST stock code: {online_retail_df.shape[0]}")

Number of rows before removing POST stock code: 779425
Number of rows after removing POST stock code: 777622

In [29]:
#Creating total price column
online_retail_df['TotalPrice'] = online_retail_df['Quantity'] * online_retail_df['Price']
print(online_retail_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 777622 entries, 0 to 1067369
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      777622 non-null  object
 1   StockCode    777622 non-null  object
 2   Description  777622 non-null  object
 3   Quantity     777622 non-null  int64
 4   InvoiceDate  777622 non-null  object
 5   Price        777622 non-null  float64
 6   Customer ID  777622 non-null  float64
 7   Country      777622 non-null  object
 8   TotalPrice   777622 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 59.3+ MB
None

In [30]:
#Converting Invoice date to Datetime
online_retail_df['InvoiceDate'] = pd.to_datetime(online_retail_df['InvoiceDate'])
print(online_retail_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 777622 entries, 0 to 1067369
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      777622 non-null  object
 1   StockCode    777622 non-null  object
 2   Description  777622 non-null  object
 3   Quantity     777622 non-null  int64
 4   InvoiceDate  777622 non-null  datetime64[ns]
 5   Price        777622 non-null  float64
 6   Customer ID  777622 non-null  float64
 7   Country      777622 non-null  object
 8   TotalPrice   777622 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 59.3+ MB
None

In [31]:
#Extracting time components
online_retail_df["Year"] = online_retail_df['InvoiceDate'].dt.year
online_retail_df['Month'] = online_retail_df['InvoiceDate'].dt.month
online_retail_df['DayOfWeek'] = online_retail_df['InvoiceDate'].dt.dayofweek
online_retail_df['dayName'] = online_retail_df['InvoiceDate'].dt.day_name()
#for better visualization added both Day of week and day name
online_retail_df["hourOfDay"] = online_retail_df['InvoiceDate'].dt.hour
print(online_retail_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 777622 entries, 0 to 1067369
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      777622 non-null  object
 1   StockCode    777622 non-null  object
 2   Description  777622 non-null  object
 3   Quantity     777622 non-null  int64
 4   InvoiceDate  777622 non-null  datetime64[ns]
 5   Price        777622 non-null  float64
 6   Customer ID  777622 non-null  float64
 7   Country      777622 non-null  object
 8   TotalPrice   777622 non-null  float64
 9   Year         777622 non-null  int32
 10  Month        777622 non-null  int32
 11  DayOfWeek    777622 non-null  int32
 12  dayName      777622 non-null  object
 13  hourOfDay    777622 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(4), int64(1), object(5)
memory usage: 77.1+ MB
None

In [32]:
#converting customer id to int
online_retail_df['Customer ID'] = online_retail_df['Customer ID'].astype(int)
print(online_retail_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 777622 entries, 0 to 1067369
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      777622 non-null  object
 1   StockCode    777622 non-null  object
 2   Description  777622 non-null  object
 3   Quantity     777622 non-null  int64
 4   InvoiceDate  777622 non-null  datetime64[ns]
 5   Price        777622 non-null  float64
 6   Customer ID  777622 non-null  int64
 7   Country      777622 non-null  object
 8   TotalPrice   777622 non-null  float64
 9   Year         777622 non-null  int32
 10  Month        777622 non-null  int32
 11  DayOfWeek    777622 non-null  int32
 12  dayName      777622 non-null  object
 13  hourOfDay    777622 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(4), int64(2), object(5)
memory usage: 77.1+ MB
None

In [33]:
#Converting stock code to string
online_retail_df['StockCode'] = online_retail_df['StockCode'].astype(str)
print(online_retail_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 777622 entries, 0 to 1067369
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      777622 non-null  object
 1   StockCode    777622 non-null  object
 2   Description  777622 non-null  object
 3   Quantity     777622 non-null  int64
 4   InvoiceDate  777622 non-null  datetime64[ns]
 5   Price        777622 non-null  float64
 6   Customer ID  777622 non-null  int64
 7   Country      777622 non-null  object
 8   TotalPrice   777622 non-null  float64
 9   Year         777622 non-null  int32
 10  Month        777622 non-null  int32
 11  DayOfWeek    777622 non-null  int32
 12  dayName      777622 non-null  object
 13  hourOfDay    777622 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(4), int64(2), object(5)
memory usage: 77.1+ MB
None

In [34]:
#saving cleaned data to new csv file
online_retail_df.to_csv("cleaned_online_retail.csv",index=False)
promotional_df.to_csv("promotional_data.csv",index=False)